<% include partials/header %>
<h1> ~ Create a New Food ~</h1>
<form action="/menu" method="POST">
	<input type="text" name="name" placeholder="name">
	<input type="text" name="image" placeholder="imageURL">
	<button> Submit </button>
</form>
<a href = "/menu"> View menu </a>
<% include partials/footer %>