<% include partials/header %>
		


<div class = "container">
	<header class = "jumbotron">
		<div class = "container">
			<h1> <%=yelpfood.name%></h1>
		</div>
	</header>
 
	<div>
		<div class="col-lg-12">
			<h3> <%= yelpfood.description %> </h3>
		</div>
	
		<div class="thumbnail">
			<img src= "<%= yelpfood.image%>" >
		</div>

		<a href = "/menu" class = "btn btn-primary"> Main Menu </a>

	</div>

</div>
<% include partials/footer %>