<% include header %>
<div class = "container">
	<header class = "jumbotron">
		<div class = "container">
			<h1> Secret Page For Aragaki Yui</h1>
		</div>
	</header>
 
	<div>
		<div class="col-lg-12">
			<h3> Yui Aragaki is a Japanese actress, model, singer and occasional radio show host. </h3>
		</div>
	
		<div class="thumbnail">
			<img src= "https://40.media.tumblr.com/27be8ad6ae210112a8f5ce8d03805313/tumblr_niboybldYl1thorv7o1_500.png" >
		</div>

	</div>

</div>
<% include footer %>